body {
    background-color: #1E1E1E;
    color: #fff;
    font-family: 'Muli', sans-serif;
}
.h1 {
    color: #fff;
    font-size: 40px;
    display: inline-block;
    margin: 74px 13px 50px 68px;
}
.caption {
    color: #939393;
    font-size: 17px;
    display: inline-block;
}
.cap {
    color: #969696;
    font-size: 15px;
}
.dip {
    display: inline-block;
}
.table-text {
    color: #fff;
    font-size: 20px;
}
.cell {
    width: 4px;
    height: 14px;
    background-color: #969696;
}
.cell-special {
    width: 4px;
    height: 14px;
    background-color: #F1B209;
}
.cell-filler {
    width: 4px;
    height: 14px;
    background-color: #D0021B;
}
.numbering {
    margin: 0 12px 0 70px;
    float: left;
}
.number {
    text-align: right;
}
.margin-title {
    margin-right: 30px;
}
.margin-year {
    margin-right: 30px;
}
.margin-cell {
    margin-top: 5px;
}