body {
    background-color: #1E1E1E;
    color: #fff;
    font-family: 'Muli', sans-serif;
}
.h1 {
    color: #fff;
    font-size: 40px;
    display: inline-block;
    margin: 56px 6px 35px 77px;
}
.caption {
    color: #939393;
    font-size: 14px;
    display: inline-block;
}
.dip {
    display: inline-block;
}
.table-text {
    color: #fff;
    font-size: 20px;
}
.cell {
    width: 1px;
    height: 10px;
    margin-right: 2px;
    background-color: #969696;
}
.cell-special {
    width: 1px;
    height: 10px;
    margin-right: 2px;
    background-color: #F1B209;
}
.cell-filler {
    width: 1px;
    height: 10px;
    margin-right: 2px;
    background-color: #D0021B;
}
.numbering {
    margin: 0 12px 0 70px;
    float: left;
}
.number {
    text-align: right;
}
.margin-title {
    margin-right: 30px;
}
.margin-year {
    margin-right: 30px;
}
.margin-cell {
    margin-top: 5px;
}
table{
    margin-left: 80px;
    font-size: 14px;
    text-align: left;
}
thead{
    font-size: 12px;
    color: #939393;
}
.tar{
    text-align: right;
}
.title{
    width: 33%;
}
.td-margin{
    padding-right: 10px;
}